img {
    border-radius: 2%;
}

.filter a {
    position: relative;
}

.filter a.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
}

@keyframes zoom-in {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: none;
    }
}

@keyframes rotate-right {
    0% {
        transform: translate(-100%) rotate(-100deg);
    }
    100% {
        transform: none;
    }
}

.is-animated {
    animation: .6s zoom-in;
// animation: .6s rotate-right;
}